## Import necessary dependencies

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Initialise the spark session
spark = SparkSession.builder.appName('NugaBankETL').getOrCreate()

In [3]:
spark

## Data Extraction

In [4]:
nuga_bank_df = spark.read.csv(r'dataset\nuga_bank_transactions.csv', header=True, inferSchema=True)

In [6]:
nuga_bank_df.show(5)

+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|              NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [7]:
nuga_bank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

## Data Transformation

In [8]:
nuga_bank_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [10]:
# number of rows
num_rows = nuga_bank_df.count()
num_rows

1000000

In [12]:
# number of columns
num_col = len(nuga_bank_df.columns)
num_col

23

In [13]:
# Checking for null values
for column in nuga_bank_df.columns:
    print(column, 'Nulls', nuga_bank_df.filter(nuga_bank_df[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 100425
Customer_Address Nulls 100087
Customer_City Nulls 100034
Customer_State Nulls 100009
Customer_Country Nulls 100672
Company Nulls 100295
Job_Title Nulls 99924
Email Nulls 100043
Phone_Number Nulls 100524
Credit_Card_Number Nulls 100085
IBAN Nulls 100300
Currency_Code Nulls 99342
Random_Number Nulls 99913
Category Nulls 100332
Group Nulls 100209
Is_Active Nulls 100259
Last_Updated Nulls 100321
Description Nulls 100403
Gender Nulls 99767
Marital_Status Nulls 99904

In [14]:
# How to fill up missing valuse
nuga_bank_df_clean = nuga_bank_df.fillna({
    'Customer_Name': 'Unkown',
    'Customer_Address': 'Unknown',
    'Customer_City': 'Unknown',
    'Customer_State': 'Unknown',
    'Customer_Country': 'Unknow',
    'Company': 'Unknown',
    'Job_Title': 'Unknown',
    'Email': 'Unknown',
    'Phone_Number': 'Unknown',
    'Credit_Card_Number': 0,
    'IBAN': 'Unknown',
    'Currency_Code': 'Unknown',
    'Random_Number': 0,
    'Category': 'Unknown',
    'Group': 'Unknown',
    'Is_Active': 'Unknown',
    'Description': 'Unknown',
    'Gender': 'Unknown',
    'Marital_Status': 'Unknown'
})

In [18]:
# Checking again for null values
for column in nuga_bank_df_clean.columns:
    print(column, 'Nulls', nuga_bank_df_clean.filter(nuga_bank_df_clean[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0
Last_Updated Nulls 0
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [17]:
# Drop rows where last updated in null

nuga_bank_df_clean = nuga_bank_df_clean.na.drop(subset=['Last_Updated'])

In [19]:
# To view the summary statistics of the data
nuga_bank_df_clean.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|     Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|       899679|            899679|             899679|              899679|              899679|              899679|       899679|            899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean|505.10367708927134|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750519E17|                NULL|         NULL| 4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev|  285.794534330047|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|2.3068371038619423E9|1.189655005733002...|                NULL|         NULL|2966.5434011515995|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|            Unknown|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|               0.0|       A|Unknown|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|    Zoe Young|             Unknown|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|             Unknown| 4999984361512569455|             Unknown|          ZWD|            9999.0| Unknown|      Z|      Yes|Yourself young ev...|Unknown|       Unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+-------+---------+--------------------+-------+--------------+

In [20]:
nuga_bank_df_clean.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [24]:
# transaction table

transaction = nuga_bank_df_clean.select('Transaction_Date', 'Amount', 'Transaction_Type')

In [25]:
## Adding the transaction_id column
transaction = transaction.withColumn('transaction_id', monotonically_increasing_id())

In [27]:
# Reordering columns
transaction = transaction.select('transaction_id', 'Transaction_Date', 'Amount', 'Transaction_Type')

In [28]:
transaction.show()

# ID column

+--------------+--------------------+------+----------------+
|transaction_id|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|
|             3|2024-04-17 15:29:...|407.15|         Deposit|
|             4|2024-02-10 01:51:...|161.31|         Deposit|
|             5|2024-02-10 22:56:...|764.34|        Transfer|
|             6|2024-04-07 00:07:...|734.59|         Deposit|
|             7|2024-03-08 01:51:...|592.43|         Deposit|
|             8|2024-02-01 12:34:...| 927.1|         Deposit|
|             9|2024-03-22 16:46:...| 66.59|        Transfer|
|            10|2024-04-23 13:30:...| 246.3|      Withdrawal|
|            11|2024-01-13 01:22:...|782.32|      Withdrawal|
|            12|2024-02-25 15:16:...|818.42|      Withdrawal|
|            13|2024-01-01 20:55:...|352.23|      Withdrawal|
|            14|2024-01-19 00:01:...|316.19|      Withdrawal|
|            15|2024-04-09 14:40:...|662.26|      Withdrawal|
|            16|2024-04-15 04:58:...|893.73|         Deposit|
|            17|2024-04-12 14:32:...|746.22|      Withdrawal|
|            18|2024-02-26 14:43:...|214.77|      Withdrawal|
|            19|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------+--------------------+------+----------------+
only showing top 20 rows

In [41]:
# customer table
customer = nuga_bank_df_clean.select('Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', \
                 'Customer_Country', 'Company', 'Email', 'Phone_Number').distinct()

# add id column
customer = customer.withColumn('customer_id', monotonically_increasing_id())

# reorder the table
customer = customer.select('customer_id', 'Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', \
                 'Customer_Country', 'Company', 'Email', 'Phone_Number')

In [44]:
customer.count()

899679

In [42]:
customer.show()

+-----------+-----------------+--------------------+-----------------+--------------+--------------------+--------------------+--------------------+--------------------+
|customer_id|    Customer_Name|    Customer_Address|    Customer_City|Customer_State|    Customer_Country|             Company|               Email|        Phone_Number|
+-----------+-----------------+--------------------+-----------------+--------------+--------------------+--------------------+--------------------+--------------------+
|          0|   Valerie George|46318 Patricia Kn...|     Chandlerberg|     Minnesota|              Unknow|        Rowland-Webb|karengoodwin@exam...|             Unknown|
|          1|      Chad Miller|0382 Lopez Motorw...|       Tyronetown|       Unknown|          Mauritania|Vega, Meadows and...|nmartinez@example...|          6489443858|
|          2|     Todd Salazar|59614 Isaiah Park...|          Donfurt|South Carolina|              Turkey|       Soto and Sons|cheryl35@example.net|   (906)803-7514x954|
|          3| Christopher Wood|2761 Sara Inlet S...|       Andrewland|      Oklahoma|    Marshall Islands|Johnson, Perry an...|katherineyoung@ex...|   417.519.1646x9206|
|          4|      Logan Huang|   389 Valdez Bypass|          Unknown|      Delaware|              Unknow|           Moore Inc|mooreamber@exampl...| (604)785-1051x44167|
|          5|           Unkown| 60555 Norris Square|        West Juan|     Tennessee|             Tunisia|Morrison, Graham ...|bartonpatrick@exa...|        602.628.8300|
|          6|      Howard King|   8456 Chelsea Burg|      Port Carrie|          Ohio|              Brazil|Phillips, Crawfor...|  mclark@example.com|        600.801.7658|
|          7|      Erin Carter|738 Lambert Walks...|   New Susanshire|     Wisconsin|              Guyana|          Barnes LLC|danielvalencia@ex...|     +1-439-626-1354|
|          8| Benjamin Wallace|42760 David Ramp ...|   South Paulside|        Nevada|United Arab Emirates|             Unknown|             Unknown|       (611)440-3406|
|          9|       Adam Potts|70559 Steven Trac...|      Lake Alicia|   Mississippi|             Eritrea|         Moore-Doyle|christinaturner@e...|        715-780-2409|
|         10|           Unkown|532 Tony Islands ...|Lake Melissamouth|      Kentucky|         Netherlands|             Unknown| bryan99@example.com|        329-586-6049|
|         11|     Robert Woods|319 Amanda Alley ...|      Danielshire|      Missouri|               Samoa|         Ward-Glover|davishector@examp...| (706)440-6062x84008|
|         12|     Brianna Vega|    1735 Robin Knoll| South Andremouth|      Maryland|            Cameroon|         Brown-Brown|dspencer@example.com|001-928-777-6545x...|
|         13|Kimberly Matthews|    678 Donald Vista|    West Kevinton|    Washington|              Unknow|    Schneider-Garcia|joepetersen@examp...|             Unknown|
|         14|     Tricia Lopez|   9922 Lewis Square|     North Daniel|         Texas|    French Polynesia|             Unknown|  tweeks@example.com|        681-872-1355|
|         15|      Sara Nelson|  2256 Zachary Locks|    Dodsonchester|      Michigan|             Tokelau|            Cook PLC|             Unknown|        751.869.4130|
|         16|    Shannon Perry|     23699 Susan Way|        West Kyle|       Unknown|          Costa Rica|Cortez, Fisher an...|             Unknown|   (334)342-1793x968|
|         17|    Lindsay Welch|   5621 Jenkins Keys|         Reedfurt|          Ohio|            Suriname|         Miller-Paul|ashleygibson@exam...|    001-205-229-1626|
|         18|       John Young|3738 Nicole Neck ...|         Ortizton|         Maine|               Nauru|        Moreno-Lewis|  ssmith@example.org|+1-720-830-3796x8...|
|         19| Robert Alexander|    17776 Holly Lock|    Port Kevinton|          Ohio|            Barbados|        Santos-Mcgee|moorepatrick@exam...|             Unknown|
+-----------+-----------------+--------------------+-----------------+--------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [47]:
# Employee table

employee = nuga_bank_df_clean.select('Company', 'Job_Title', 'Gender', 'Marital_Status').distinct()

# add id column
employee = employee.withColumn('employee_id', monotonically_increasing_id())

# reordering the columns
employee = employee.select('employee_id', 'Company', 'Job_Title', 'Gender', 'Marital_Status')

In [48]:
employee.show()

+-----------+--------------------+--------------------+-------+--------------+
|employee_id|             Company|           Job_Title| Gender|Marital_Status|
+-----------+--------------------+--------------------+-------+--------------+
|          0|         Price Group|             Unknown|   Male|        Single|
|          1|Rhodes, King and ...| Trade mark attorney|   Male|       Unknown|
|          2|Schmidt, Morgan a...|     Engineer, water| Female|        Single|
|          3|       Johnson Group|  Forensic scientist|   Male|       Unknown|
|          4|     Phillips-Prince|Production assist...|Unknown|        Single|
|          5|      Henry and Sons|Engineer, civil (...| Female|       Married|
|          6|Thompson, Johnson...|Exercise physiolo...|  Other|       Unknown|
|          7|Hernandez, Johnso...|Forensic psycholo...|Unknown|      Divorced|
|          8|Carrillo, Schwart...| Solicitor, Scotland| Female|        Single|
|          9|         Olson-Lucas| Magazine journalist|   Male|      Divorced|
|         10|        Baxter-Knapp|Designer, televis...| Female|       Unknown|
|         11|             Unknown|Programme researc...| Female|      Divorced|
|         12|    Newton-Schneider|             Unknown|  Other|      Divorced|
|         13|      Suarez-Terrell|            Best boy| Female|      Divorced|
|         14|         Stewart LLC|       Archaeologist|   Male|        Single|
|         15|Bernard, Sutton a...|Museum/gallery co...|  Other|       Unknown|
|         16|Summers, Thornton...|Volunteer coordin...|Unknown|        Single|
|         17|     Mcneil-Guerrero|     Ophthalmologist|Unknown|      Divorced|
|         18|       Collins-Clark|Producer, televis...| Female|      Divorced|
|         19|Lewis, Navarro an...|             Unknown|   Male|        Single|
+-----------+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [52]:
# fact_table

fact_table = nuga_bank_df_clean.join(customer, ['Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', \
                                                'Customer_Country', 'Email', 'Phone_Number'], 'left') \
                                .join(transaction, ['Transaction_Date', 'Amount', 'Transaction_Type'], 'left') \
                                .join(employee, ['Company', 'Job_Title', 'Gender', 'Marital_Status'], 'left') \
                                .select('transaction_id', 'customer_id', 'employee_id', 'Credit_Card_Number', 'IBAN', \
                                                'Currency_Code', 'Random_Number', 'Category', 'Group', 'Is_Active', 'Last_Updated', 'Description',)

In [54]:
fact_table.show()

+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|transaction_id|customer_id|employee_id|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|    8589934597|17179891839|      14483|      630428157006|GB86GLHT381589496...|      Unknown|       5000.0|       A|      Z|       No|2023-10-14 00:47:...|Everything decade...|
|   25769803791|      45671|      45443|    38082745081301|             Unknown|          DJF|          0.0|       A|      Z|      Yes|2021-05-24 05:28:...|Into because end....|
|   17179869188| 8589963549|      33729|     4021800082481|GB78UBAH195883770...|          LBP|       8097.0|       C|      X|      Yes|2023-07-11 06:06:...|Maybe teacher dee...|
|   42949672965|      79888|      71176|    30448552436896|             Unknown|          ISK|       1108.0|       A|      Y|       No|2022-12-06 03:53:...|Wrong part rest c...|
|   17179869184|60129571769|      28592|   213133896337542|GB07IUUE487965913...|          ISK|          0.0|       D|      Y|       No|2023-08-16 10:32:...|Themselves make ago.|
|   60129542154|51539712623|      87283|  3542448933285876|GB22VSFS474270337...|      Unknown|       6216.0|       A|      X|       No|2020-08-05 03:15:...|Meet PM worry who...|
|            20| 8589939674|        537|   213186454811670|GB77SPMZ984195063...|          SOS|       7610.0|       C|      X|       No|2021-04-15 13:30:...|Concern remember ...|
|   17179869193| 8589966954|      29104|  6011177559558424|GB76DNER497098023...|          BZD|       6499.0|       D|      X|  Unknown|2020-02-09 13:11:...|Risk take recent ...|
|   51539607566|17179964599|      85904|  6574717409681808|GB58ZWIH992989778...|          LSL|          0.0|       B|      Y|       No|2021-11-04 10:41:...|Any state recogni...|
|   34359738381|51539667185|      54426|      639006216746|GB81CQQR004909975...|      Unknown|       8199.0|       B|      Y|       No|2024-03-31 18:51:...|Try step sound. B...|
|   25769803788|      50315|      45959|  2277452848592163|GB36UBKI615026373...|          ARS|       3608.0|       D|      Z|      Yes|2020-08-08 08:43:...|Game fund start w...|
|   60129542144|34359848941|      93735|   345333404165465|GB96PUDP643655555...|          DJF|       3059.0|       B|      Z|      Yes|2022-07-22 21:01:...|Really conference...|
|   42949672980|60129620072|      71679|  6507797348788197|GB31LUCU530383937...|          IRR|       5852.0|       D|      Y|       No|2024-03-09 12:39:...|     Dog peace fish.|
|   25769803778|25769845029|      40358|  6011797984315254|GB87DZWW815695630...|          SRD|       9451.0|       D|      Z|      Yes|2021-12-31 10:31:...|Whom painting nat...|
|   51539607565|68719491461|      26096|  6011153251503935|GB28FTRX421798999...|          CHF|       1792.0|       C|      Z|      Yes|2020-07-14 19:25:...|Compare sell bank...|
|   25769803785|      48000| 8589979681|  6011487394633278|GB21YRPY294696766...|          PAB|       3368.0|       C|      X|       No|2023-07-31 12:32:...|Enter ask remembe...|
|   34359738382|17179926662| 8589993427|   180067592769732|GB92JVMY004197871...|          EGP|       7198.0|       A|      Z|      Yes|2023-10-12 22:25:...|Before story prof...|
|            18|42949684383| 8589942641|   213112163828334|GB50TJFN039979307...|          SVC|       7382.0|       B|      Z|      Yes|2020-01-19 18:19:...|Great evening so ...|
|   25769803796|25769851912| 8589978110|                 0|GB24FDDZ433609720...|          NIS|       7615.0|       D|      X|       No|2021-04-26 09:55:...|             Unknown|
|   60129542159|25769899713| 8590025415|  6595994198943849|             Unknown|          KPW|       5778.0|       A|Unknown|       No|2022-08-17 18:44:...|             Unknown|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
only showing top 20 rows